@charset 'utf-8';

.result{
	width: 1020px;
	height: auto;
	margin: 0 auto;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #e9e9e9;
	padding: 20px;
}
.title{
	width: 1020px;
    font-size: 20px;
    line-height: 20px;
    color: #1caaea;
    margin-bottom: 30px;
}


/*list*/
.videolist{
	width: 1020px;
	min-height: 100px;
	height: auto;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 25px;
	border: 1px solid #e9e9e9;
}
.videolist ul{
	width: 980px;
	margin-left: 20px;
	padding-top: 10px;
}
.videolist ul li{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px #ccc dashed;
	margin-bottom: 10px;
}
.videolist ul li a{
	color: rgb(102, 102, 102);
	font-family: Arial, 微软雅黑;
	font-size: 12px;
}
.videolist ul li span{
	float: right;
}
.comment p.more a:hover,.videolist ul li a:hover{
	color: #1caaea;
}
.video-title{
	font-size: 20px;
    line-height: 20px;
    color: #1caaea;
    margin-top: 15px;
    margin-bottom: 20px;
}
/*end*/
